body {
	background-color: #cad3d3;
	font-family: 'Source Sans Pro', sans-serif;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 179px;
	margin-bottom: 141px;
}

.column {
	background-color: white;
	width: 362px;
	margin: 0 42px;
	text-align: center;
	position: relative;
}

.img-ocean {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	height: 272px;
	background-color: blue;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("img/ocean.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.img-moutain {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	height: 272px;
	background-color: blue;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("img/moutain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.img-forest {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    height: 272px;
    background-color: blue;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.price {
	margin-top: -135px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 32px;
	background-color: #ffffff;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	font-family: 'Source Sans Pro', sans-serif;
}

.new {
    margin-left: -0.5cm;
    margin-top: -7.5cm; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: url("img/new.png");
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.price-ocean-color {
	color: #2196f7;
}

.price-moutain-color {
	color: #d74498;
	background-color: #2c2e3d;
}

.price-forest-color {
    color: #49b33a;
}

.div-text > .text {
	font-family: 'Source Sans Pro', sans-serif;
	color: #b6c6c9;
	font-size: 14px;
}

.text{
	font-size: 16px;
	color: #99a9b5;
	margin: 0;
}

.row-high {
	height: 95px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.row-normal {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #5f727f;
}

.row-normal:nth-child(odd) {
	background-color: #f4f6f7;
}

.text-big {
	font-size: 24px;
	color: #5f727f;
}

.text-small {
	font-size: 14px;
	color: #99a9b5;
}

.row-button {
	height: 151px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: 49px;
	width: 170px;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	border-width: 0.04cm;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-moutain:hover {
	background-color: #6c136f;
	cursor: pointer;
	color: #ffffff;
}

.button-ocean:hover {
	background-color: #2196f7;
	cursor: pointer;
	color: #ffffff;
}

.button-forest:hover {
	background-color: #32ad1e;
	cursor: pointer;
	color: #ffffff;
}

.button-ocean {
	background-color: #ffffff;
	border-color: #2196f7;
	color: #2195f7;
}

.button-moutain {
 	background-color: #ffffff;
	border-color: #6c136f;
	color: #6c136f;
}

.button-forest {
	background-color: #ffffff;
	border-color: #32ad1e;
	color: #31ad1d;
}

